:root {
  /* primary */
  --bright-blue: hsl(220, 98%, 61%);
  /* light theme */
  --background-color: hsl(0, 0%, 98%);
  --tasks-background: white;
  --gray: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --shadow-color: hsl(236, 9%, 61%);
  --crossed-color: hsl(236, 9%, 61%);
  --font-color: hsl(235, 19%, 35%);

  /* font */
  --custom-font: "Josefin Sans", sans-serif;

  /* image */
  --url: url("./assets/bg-mobile-light.jpg");
  --url-desktop: url("./assets/bg-desktop-light.jpg");
}

/* ||dark mode */

[data-theme="dark"] {
  --background-color: hsl(235, 21%, 11%);
  --tasks-background: hsl(235, 24%, 19%);
  --font-color: white;
  --gray: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --crossed-color: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --shadow-color: black;
  --url: url("./assets/bg-mobile-dark.jpg");
  --url-desktop: url("./assets/bg-desktop-dark.jpg");
}

/* || base style  */

body {
  font-size: 18px;
  font-family: var(--custom-font);
  background: var(--background-color);
}

h1 {
  color: white;
  font-size: 2.3rem;
}

.input__txt {
  border: none;
  background: var(--tasks-background);
  font-size: 1.2rem;
  width: 100%;
  color: var(--font-color);
  border-radius: 5px;
  height: 3rem;
  padding-left: 16px;
}

input:focus {
  outline: none;
}

li {
  padding: 8px;
}

/* || layout */

.taskdisplay,
.app__bottom {
  background: var(--tasks-background);
  border-radius: 5px;
}

.app__wrapper{
  max-width: 600px;
  width: 80%;
  margin: 0 auto;
  margin-top: -40px;

}

/* ||header */
.background__image {
  background: var(--url);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: -1;
}

.app__header {
  padding: 25px 25px 1.5rem 25px;
}

.header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__input{
  max-width: 582px;
}
.top__title {
  letter-spacing: 0.5rem;
}

.top__icon button {
  background: none;
  border: none;
  margin: none;
  padding: none;
}

.header__input {
  height: 3rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.input__txt {
  margin-top: 0.2rem;
}

/* ||task display   */

.taskdisplay__task {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  color: var(--font-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid var(--gray);
}

.taskdisplay__task button {
  position: absolute;
  top: 21%;
  width: 15px;
  height: 15px;
  padding: 1rem;
  background: var(--tasks-background);
  border: 1px solid var(--light-grayish-blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskdisplay__task button.todo {
  background: rgb(87, 221, 255);
  background: linear-gradient(
    90deg,
    rgba(87, 221, 255, 1) 0%,
    rgba(192, 88, 243, 1) 100%
  );
}

.task__text {
  padding-left: 4rem;
}

.task__text--crossed {
  color: var(--crossed-color);
  text-decoration: line-through;
}

.task__delete {
  align-self: flex-start;
}

.task__delete:hover {
  cursor: pointer;
}

/* || task bar  */

.app__bottom {
  max-height: 4.8rem;
  color: var(--crossed-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0px 14px 12px -5px var(--shadow-color);
}

.items__status {
  border-top: 1px solid var(--gray);
  color: var(--very-dark-grayish-blue);
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  order: 1;
  padding: 1rem;
}

.app__bottom__text {
  color: var(--dark-grayish-blue);
  text-align: center;
}

.items__status button {
  padding: 0 1rem;
  margin: 0;
  border: none;
  color: var(--dark-grayish-blue);
  font-family: var(--custom-font);
  background: var(--tasks-background);
}

items__status span {
  font-size: 1rem;
}

button,
.task__text,
.clear__btn {
  cursor: pointer;
}

.selected {
  color: var(--bright-blue);
}

@media (min-width: 376px) {
  .background__image {
    background: var(--url-desktop);
  }

  .app__bottom {
    color: var(--crossed-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .items__status {
    border-top: none;
    color: var(--very-dark-grayish-blue);
    list-style: none;
    order: 0;
    padding: 1rem;
    width: auto;
  }

  .items__status * {
    font-size: 16px;
  }
}
